.circular-progress {
  position: relative;
  width: 72px;
  height: 72px;
}

.circular-progress__value {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: var(--text-sm);
  font-weight: 600;
}

.circular-progress--small {
  width: 56px;
  height: 56px;
}

.circular-progress--small svg {
  width: 56px;
  height: 56px;
}
